:root {
  // place css variables here
  //TextColor
  --text-color: #A9BACA;
  --text-color-light: #ffffff;
  --text-color-grey: #A9BACA;
  --text-color-light-gray: #BBC3CB;
  --text-color-primary: #14AFF1;
  --text-color-dark: #2F2F30;
  --header-text-color: #121212;

  //BackgroundColor
  --background-color-light:#FFFFFF;
  --background-color-dark: #1B1C1E;
  --background-color-primary: #14AFF1;

  //BorderColor
  --border-color: #E3E4E6;
  --border-color-primary: #14AFF1;
}
