// place any scss variables here
//Screen
$screen-xs: 320px;
$screen-xs-max: 767px;
$screen-sm: 768px;
$screen-sm-min: 768px;
$screen-sm-max: 1024px;
$screen-md: 1025px;
$screen-md-max: 1199px;
$screen-lg: 1200px;