@import "../../styles/variables";
@import "../../styles/mixins";

$footer: 'footer';

.#{$footer} {
  background-color: var(--background-color-dark);
  padding: 40px 0 37px;

  @include breakpoint('phone-max') {
    padding: 18px 0 42px;
  }

  &__container {
    padding: 0 48px;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    letter-spacing: -.408px;
    line-height: 22px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include breakpoint('phone-max') {
      padding: 0 24px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    @include breakpoint('phone-max') {
      margin-bottom: 11px;
    }

    &__icon {
      height: 50px;
      width: 50px;
      margin-right: 20px;
      background: url('../../images/logo/logo_icon_white.svg') no-repeat;
      background-position: 50% 50%;
      background-size: cover;

      @include breakpoint('phone-max') {
        height: 40px;
        width: 40px;
        margin-right: 13px;
      }
    }

    &__name {
      color: var(--text-color-light);
      font-size: 17px;
      margin-bottom: 2px;

      @include breakpoint('phone-max') {
        font-size: 13px;
        margin: 0;
      }
    }

    &__slogan {
      color: var(--text-color-grey);
      font-size: 15px;;

      @include breakpoint('phone-max') {
        font-size: 13px;
      }
    }
  }

  &__text {
    color: var(--text-color-grey);
    font-size: 15px;

    @include breakpoint('phone-max') {
      font-size: 13px;
    }
  }

  &__link {
    color: var(--text-color-light);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s;

    &:hover,
    &:focus {
      color: var(--hover-color);
    }
  }

}
